body {
    background-color: #001e2d;
    height: 100%;
}
header {
    background-color: #3b3d42;
    height: 80px;
    width: 102%;
    margin-left: -10px;
    margin-top: -35px;
}
header h1 {
    font-size: 48px;
    color: #ffffff;
    padding: 10px;
}
header h1 a {
    font-size: 48px;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    text-align: left;
}
h1 a:visited {
    font-size: 48px;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
}
#main {
    width: 74%;
    font-size: 24px;
    color: #ffffff;
    float: left;
}
#main table {
    width: 100%;
    text-align: left;
    padding: 20px;
}
#table head {
    font-size: 24px;
    color: #ffffff;
}
#results tr {
    height: 50px;
}
#line {
    position: absolute;
    right: 25%;
    top: 0;
    height: 100%;
    border-left: 5px solid #3b3d42;
}
#sidebar {
    width: 24%;
    float: right;
}
#sidebar p {
    color: #ffffff;
    font-size: 26px;
    margin: 10%;
}
main {
    text-align: center;
}
main p {
    color: #ffffff;
    font-size: 32px;
    margin: 10%;
}
main a {
    padding: 10px;
    font-size: 24px;
    background-color: #0071ff;
    margin: 20px;
    text-decoration: none;
    color: #ffffff;
}
.slideContainer {
    width: 100%;
}
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 15px;
    background: #3b3d42;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0071ff;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

#map {
    height: 100%;
}