body {
    background-color: #001e2d;
}
header {
    background-color: #3b3d42;
    height: 80px;
    width: 102%;
    margin-left: -10px;
    margin-top: -35px;
}
header h1 {
    font-size: 48px;
    color: #ffffff;
    padding: 10px;
}
h1 a {
    font-size: 48px;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
}
h1 a:visited {
    font-size: 48px;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
}
#results {
    font-size: 24px;
    color: #ffffff;
    padding: 20px;
}
#results head {
    font-size: 24px;
    color: #ffffff;
}
#results table {
    font-size: 24px;
    color: #ffffff;
    text-align: left;
}
main {
    text-align: center;
}
main p {
    color: #ffffff;
    font-size: 32px;
    margin: 10%;
}
main a {
    padding: 10px;
    font-size: 24px;
    background-color: #0071ff;
    margin: 20px;
    text-decoration: none;
    color: #ffffff;
}